#choiceProjet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-block: 5vh;
    opacity: 0;
    transition: opacity 2s;
}

#choiceProjet.visible{
    opacity: 1;
}

#choiceProjet a{
    text-decoration: none;
    transition: 0.5s;
}

#choiceProjet a#entrepriseChoice1{
    color: black;
}

#choiceProjet a#entrepriseChoice2{
    color: white;
}

#choiceProjet a:hover h1{
    letter-spacing: 0.25rem;
}

.entrepriseChoice{
    width: 40vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 15px;
    margin-inline: 2vw;
    padding-inline: 2%;
    text-align: center;
    border: 1px solid rgb(234, 234, 234);
}

.entrepriseChoice:hover{
    width: 45vw;
    height: 100%;
}

.entrepriseChoice h1{
    font-size: 85px;
    font-weight: 1000;
    margin-bottom: 0;
    margin-top: 5%;
    transition: 0.5s;
}

.entrepriseChoice h2{
    font-size: 35px;
    font-weight: 200;
}


#entrepriseChoice1{
    background-image: url("/media/pureBuild.png");
}

#entrepriseChoice2{
    background-image: url("/media/purpleBuild.png");
}

#choiceProjet  #entrepriseChoice1:hover{
    box-shadow: 0 0 40px #8ABACE;
}

#choiceProjet #entrepriseChoice2:hover{
    box-shadow: 0 0 40px #E60CFE;
}