html{
    overflow-x: hidden;
}

body {
    background: black;
    font-family: Urbanist;
    color: white;
    margin: 0;
}

header{
    height: 10vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: black;
    border-bottom: 1px solid;
    border-color: rgba(128, 128, 128, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: border-color 0.5s ease;
}

nav.scrolled {
    border-color: rgba(128, 128, 128, 0.483);
}

#logo{
    width: 20%;
    display: flex;
    align-items: center;
}

#logoGleam {
    width: auto;
    max-height: 50px;
    padding-left: 40px;
    padding-bottom: 5%;
}

nav #menu{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 60%;
}

nav #menu li {
    padding-inline: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    position: relative;
}

nav #menu li a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav #menu li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #4483FE;
    transition: width 0.4s ease, left 0.4s ease;
}

nav #menu li:hover a::after {
    width: 100%;
    left: 0;
}


nav #log{
    display: flex;
    justify-content: end;
    list-style-type: none;
    padding: 0;
    width: 20%;
}

nav #log li{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 5%;
}

nav #profilUser {
    display: flex;
    justify-content: end;
    height: 35%;
    width: 20%;
}

#userImg img{
    height: 100%;
    padding-right: 40px;
}

#conn{
    color: white;
    font-family: Urbanist;
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
}

#creationCompte{
    background-color: white;
    font-family: Urbanist;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin-top: 20vh;
    height: 50vh;
    position: relative;
}


#boxFooter{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: black;
    border-top: 1px solid;
    border-color: rgba(128, 128, 128, 0.438);
    display: flex;
    align-items: center;
}

#boxFooter #logoFooter{
    height: 25vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 200;
}

#boxFooter #logoFooter img{
    height: 150px;
}

#boxFooter #sommaireFooter {
    width: 70%;
    height: 100%;
}