html{
    overflow-x: hidden;
}

#topStart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}

#preButton{
    width: 100%;
    overflow: hidden;
}

#titreTop{
    font-size: 100px;
    text-align: center;
    font-weight:200;
    margin-block: 10%;
}

#titreTop p{
    text-align: center;
    margin: 0;
    line-height: 0;
}

#sousTexte {
    font-size: 25px;
    text-align: center;
    font-weight: 200;
    margin: 0;
    color: rgb(75, 75, 75);
}

#decouvrir{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

#decouvrirButton{
    background-color: black;
    width: 210px;
    height: 7vh;
    border-radius: 50px;
    font-family: Urbanist;
    font-size: 25px;
    margin-right: 3%;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: width 0.5s, height 0.5s, letter-spacing 0.5s;
}

#decouvrirButton:hover{
    width: 230px;
    height: 8vh;
    letter-spacing: 0.1rem;
}

#demonstartionButton {
    width: 300px;
    height: 7vh;
    font-size: 25px;
    border-radius: 50px;
    font-family: Urbanist;
    color: black;
    font-weight: 300;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    outline: none;
    border: none;
    z-index: 0;
    transition: letter-spacing 0.5s;
}

#demonstartionButton:hover {
    transition: 0.5s ease-in-out;
    color: white;
    letter-spacing: 0.1rem;
}

#demonstartionButton::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}

#demonstartionButton:hover::after {
    background: transparent;
    transition: 0.5s ease-in-out;
}

#demonstartionButton::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FE981E,#E60CFE,#7030F3,#4483FE
    );
    position: absolute;
    top: -5px;
    left: -15px;
    background-size: 600%;
    z-index: -1;
    width: 110%;
    height: 120%;
    filter: blur(10px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
    opacity: 1;
}

@keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 200% 0;}
    100% {background-position: 0 0;}
}

#topDecouverte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

#topDecouverte p{
    font-size: 50px;
    font-weight: 200;
    z-index: 2;

}

#besoin {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10vh;
}

.blur-container {
    position: absolute;
    bottom: 10%;
    width: 80%;
    height: 100%; 
    border-radius: 50%;
    filter: blur(200px);
    z-index: -1;
    background-color: #7130f37b;
}

#macOpenAi {
    position: relative;
    width: 70%;
    z-index: 3;
}

#propulsion {
    display: flex;
    align-items: center;
    justify-content: center;
}

#propulsion p{
    font-size: 30px;
}

#propulsion #OpenAI{
    width: 10%;
    height: 10%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
}

.microExplication {
    display: flex;
    flex-direction: column;
    margin-inline: 3%;
}

.microExplication h3{
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 0;
}

.microExplication p{
    font-size: 30px;
    font-weight: 200;
}

.microExplication h4{
    font-size: 45px;
    font-weight: 200;
    margin-top: 100px;
}

#titreAnalyse {
    font-size: 150px;
    font-weight: 1000;
    text-align: center;
    margin-top: 30vh;
    overflow: hidden;
}

#analyse {
    display: flex;
}

#macTalent {
    width: 50%;
}

#titreOptimisation {
    font-size: 150px;
    font-weight: 1000;
    text-align: center;
    margin-top: 30vh;
    overflow: hidden;
}

#optimisation {
    display: flex;
}

#macProject{
    width: 50%;
}

#bottomDecouverte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

#bottomDecouverte h2{
    font-size: 60px;
    font-weight: 200;
}

#finalButton{
    background-color: #4483FE;
    color: white;
    border: none;
    border-radius: 100px;
    height: 100px;
    width: 300px;
    font-family: Urbanist;
    font-size: 35px;
    margin-top: 5vh;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}