body {
    background : blue;
    font-family: Urbanist;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
}

#logoGleam {
    width: 5;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li{
    padding: 5px;
}

#topStart h1,
#topStart p,
#topStart #startButton{
    display: flex;
    justify-content: center;
}

#topDecouverte p{
    display: flex;
    justify-content: center;
}