{% extends "base.html" %}

{% block cssStyle%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accounts/logs.css' %}">
{% endblock %}


{% block content %}


<div id="log-container">

    <div id="form-container">
        <h1>Bonjour !</h1>
        <h2>Se connecter</h2>
        <h3>sur GLEAM</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Se connecter</button>
        </form>
        <a href="{% url 'qui' %}" id="pasCompte">Vous n'avez pas de compte ? <span style="color:black;font-weight:1000; font-size:15px;">S'inscrire</span></a>
    </div>
    <div id="FreelanceIllustration">
        <img src="/images/Innovation-amico.svg" alt="lampe innovation">
    </div>
</div>
{% endblock %}

{% block jsScript %}
    {% load static %} 
{% endblock %}