{% extends "base.html" %}

{% block cssStyle%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accounts/logs.css' %}">
{% endblock %}

{% block content %}

<div id="log-container">
    <div id="form-container">
        <h1>Bienvenue !</h1>
        <h2>Inscription en tant que freelance</h2>
        <h3>sur GLEAM</h3>
        <form method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ freelance_form.as_p }}
            <button type="submit">S'inscrire</button>
        </form>
        <a href="{% url 'connexion' %}" id="pasCompte">Vous avez déja un compte ? <span style="color:black;font-weight:1000; font-size:15px;">Se connecter</span></a>
    </div>
    <div id="FreelanceIllustration">
        <img src="/images/Designer-amico.svg" alt="designer freelance">
    </div>
</div>

{% endblock %}

{% block jsScript %}
    {% load static %}
{% endblock %}