{% extends "base.html" %}

{% block cssStyle%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accounts/inscription.css' %}">
{% endblock %}

{% block content %}

<div id="inscriptionFreelance">
    <div id="FreelanceForm">
        <h1>Bienvenue !</h1>
        <h2>Inscription en tant que freelance</h2>
        <h3>sur GLEAM</h3>
        <form method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ freelance_form.as_p }}
            <button type="submit">S'inscrire</button>
        </form>
        <a href="{% url 'connexion' %}" id="pasCompte">Vous avez déja un compte ? <span style="color:black;font-weight:1000; font-size:15px;">Se connecter</span></a>
    </div>
    <div id="FreelanceIllustration">
        <h1>GLEAM</h1>
        <h2 id="sousTitreFree"><span style="color:#4483FE; font-weight:800;">Brillez</span> dans des <span style="color:#4483FE; font-weight:800;">projets digitaux</span> innovant !<h2>
        <img src="/media/Illustration/freelance.png">
        <h2 id="slogantFree">Illuminez Votre Vision.</h2>
        <img src="/media/Logo/blackLogo.png" id="endLogoFree">
    </div>
</div>

{% endblock %}

{% block jsScript %}
    {% load static %}
{% endblock %}