#topProfil{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#topProfil img{
    height: 30vh;
}

.displayCDC{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:end;
    width: 90%;
}

.cards{
    width: 30%;
    margin-inline: 10px;
}

.topCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topCards #reco{
    font-size: 23px;
    font-weight: 800;
    color: #00CD21;
}

.bottomCards{
    position: relative;
    background-color: black;
    color: white;
    border-radius: 8px;
    min-height: 60vh;
    width: 100%;
    display: flex;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}


.bottomCards.activateCard{
    transform: rotateY(180deg);
}

#front{
    position: absolute;
    background-color: #252525;
    color: white;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    box-shadow: 5px 10px 20px grey;
    transition: 0.5s;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#back{
    position: absolute;
    background: white;
    border: 1px solid black;
    color: black;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    box-shadow: 5px 10px 20px grey;
    transition: 0.5s;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#back h2{
    color: #4483FE;
}

#back p{
    padding-inline: 2vw;
}

#back #retourMain{
    margin-block: 5vh;
    display: flex;
    justify-content: center;
}

.bottomCards #textCard h2{
    font-size: 30px;
    text-align: center;
    padding-inline: 2vw;
}

.bottomCards #tempsEstim{
    text-align: center;
    font-weight: 1000;
    margin: 30px;
}

.bottomCards #prix{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottomCards #prix #classique{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.bottomCards #prix #classique h3{
    border: 1px solid white;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    margin: 0;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.bottomCards #prix #classique p{
    font-size: 25px;
    text-decoration: line-through;
    text-decoration-color: #E60CFE;
    transition: 0.5s;
}

.bottomCards #prix #classique p:hover{
    font-size: 30px;
}

.bottomCards #prix #gleam{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomCards #prix #gleam h3{
    border: 2px solid #E60CFE;
    background: linear-gradient(90deg, #E60CFE 12.5%, #7030F3 36.5%, #FE981E 52.5%, #4483FE 69%, #E60CFE 87.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    border-radius: 50px;
    margin: 0;
    font-size: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-clip: text;
}

.bottomCards #prix #gleam p{
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
}

.bottomCards #prix #gleam p:hover{
    font-size: 30px;
    font-weight: 700;
}

.bottomCards #savoirPlus{
    display: flex;
    justify-content: center;
}

.bottomCards button{
    background-color: transparent;
    width: 15vw;
    height: 5vh;
    border: 1px solid #4483FE;
    border-radius: 50px;
    padding: 8px;
    color: #4483FE;
    font-weight: 1000;
    font-family: Urbanist;
    transition: 0.5s;
    font-size: 20px;
}

.bottomCards button:hover{
    background-color: #4483FE;
    color: white;
}

#prix{
    display: flex;
}

#bottomProfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}