.body{
    background-color: white;
}

#quiEstCe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

#quiEstCe h1{
    margin-bottom: 5vh;
    font-weight: 200;
}

#dejaCompte{
    margin: 5%;
}

#dejaCompte a{
    text-decoration: none;
    color: grey;
}

#choice {
    display: flex;
    justify-content: center;
}

#choice a{
    text-decoration: none;
    color: black;
}

#choice .carteQui {
    width: 300px;
    height: 400px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, .14);
    border: solid 1px;
    border-color: white;
    border-radius: 20px;
    margin-inline: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s;
}

#choice .carteQui:hover {
    border: solid 1px;
    border-color: #4483FE;
}

#choice .carteQui img{
    height: 50%;
}

#choice .carteQui h2{
    font-weight: 1000;
    font-size: 30px;
}

#choice .carteQui h3{
    font-weight: 200;
    font-size: 23px;
}