<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts/inscription.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts/qui.css' %}">
    <link rel="stylesheet" href="{% static 'css/entreprises.css' %}">
    <link rel="stylesheet" href="{% static 'css/curiosity.css' %}">
    <link rel="icon" type="image/png" href="/media/favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>

</head>

<body>
    <header>
        <!--Bannière-->
        <nav id="navigation">
            <div id="logo">
                <a href="{% url "index" %}"><img src="/media/Logo/blackLogo.png" alt="logoGleam" id="logoGleam"></a>
            </div>
            <ul id="menu">
                <li><a href="{% url "index" %}">ACCUEIL</a></li>
                <li><a href="{% url "entreprises" %}">ENTREPRISES</a></li>
                <li><a href="{% url "freelances" %}">FREELANCES</a></li>
                <li><a href="{% url "histoire" %}">NOTRE HISTOIRE</a></li>
            </ul>
            {% if user.is_authenticated %}
                <div id="profilUser">
                    <a href="{% url "profil" %}"  id="userImg"><img src="/media/utilisateurBlack.png" alt="user"></a>
                </div>
            {% else %}
            <ul id="log">
                <li><a href="{% url "connexion" %}" id="conn">CONNEXION</a></li>
                <li><a href="{% url "qui" %}" id="creationCompte">S'INSCRIRE</a></li>
            </ul>
            {% endif %}

        </nav>
    </header>

    {% block content %}
    
    {% endblock %}
    <footer>
        <div id="boxFooter">
            <div id="logoFooter">
                <img src="/media/Logo/blackLogo.png" alt="logoGleam">
                <p>Illuminez Votre Vision</p>
            </div> 
            <div id="sommaireFooter">

            <div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

    <script src="https://unpkg.com/lenis@1.1.3/dist/lenis.min.js"></script> 
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>

    <script src="{% static 'js/anim/global.js' %}"></script>
    <script src="{% static 'js/anim/connexion.js' %}"></script>
    <script src="{% static 'js/anim/inscription.js' %}"></script>
    <script src="{% static 'js/anim/qui.js' %}"></script>
    <script src="{% static 'js/anim/entrepriseAnim.js' %}"></script>
    <script src="{% static 'js/classicJS/entreprise.js' %}"></script>
    
    
</body>
</html>