body{
    font-family: Urbanist;
}

#exitFleche img{
    background-image: url('/media/Fleche/leftBlack.png');
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    border-radius: 100px;
    padding: 0;
    transition: 0.2s;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3%;
    left: 1%;
    cursor: pointer;
}

#exitFleche img:hover{
    width: 40px;
    height: 40px;
}

#entreprise{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

#WelcomeTextArea p {
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 0;
}

#WelcomeTextArea p.questionned {
    font-size: 40px;
}

.svgSiri{
    transition: transform 0.2s ease-in-out;
}

.rotate-slow {
    animation: rotate 20s linear infinite;
    transform-origin: 199.763px 199.763px;
}

.rotate-medium {
    animation: rotate 12s linear infinite;
    transform-origin: 199.911px 183.911px;
}

.rotate-fast {
    animation: rotate 8s linear infinite;
    transform-origin: 199.911px 183.911px;
}

.cercleSiri{
    animation: rotate 5s linear infinite;
    transform-origin: 199.911px 183.911px;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ombreSiri{
    animation: OmbreRotateScale 0.6s linear infinite;
    transform-origin: 199.911px 183.911px;
}

@keyframes OmbreRotateScale {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

#suggestions{
    margin-bottom: 3vh; 
    transition: 0.5s;
}

#suggestions.noSuggestions{
    display: none;
}

#suggestions .boxSugg{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
}

#suggestions .boxSugg button{
    width: 100%;
    margin: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.234);
    border-radius: 8px;
    cursor: pointer;
    font-family: Urbanist;
    font-size: 23px;
    transition: 0.5s;
}

#suggestions .boxSugg button:hover{
    color: white;
    background-color: #4483FE;
}

#cercleCheck{
    display: none;
}

#cercleCheck{
    width: 50px;
    height: 50PX;
    border: 2px solid rgba(128, 128, 128, 0.2);
    border-radius: 500%;
    border-left-color: #5cb85c;
    position: relative;
    animation: rotate 1.2s linear infinite;
    margin-bottom: 5vh ;
}

@keyframes rotate {
    50%{
        border-left-color: #E60CFE;
    }
    75%{
        border-left-color: #7030F3;
    }
    100%{
        transform: rotate(360deg);
    }
}

#cercleCheck .checkIcon{
    display: none;
}

#cercleCheck .checkIcon{
    position: absolute;
    content: "";
    height: 24px;
    width: 12px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1) rotate(135deg);
    border-radius: 2px;
    border-top: 4px solid #5cb85c;
    border-right: 4px solid #5cb85c;
    animation: submit 0.8s ease;
}


@keyframes submit {
    0%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    20%{
        height: 0;
        width: 12px;
        opacity: 1;
    }
    100%{
        height: 24px;
        width: 12px;
        opacity: 1;
    }
}


#cercleCheck.submited1{
    display: block;
}

#cercleCheck.submited2{
    animation: none;
    border-color: #5cb85c;
    transition: border 0.5s ease-out;
}

#cercleCheck .checkIcon.submited{
    display: block;
}

#bigBottom{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bigBottom.fin{
    display: none;
}

#finButtonCuriosity{
    display: none;
}

#finButtonCuriosity.fin{
    display: block;
}

#finButtonAll{
    display: none;
}

#finButtonAll.fin{
    display: block;
}

#cercleCheck.fin{
    animation: none;
    border-color: #5cb85c;
    transition: border 0.5s ease-out;
    display: block;
}

#cercleCheck .checkIcon.fin{
    display: block;
}

#nbQuestion{
    font-size: 30px;
    font-weight: 200;
    margin-top: 0;
}

#questionEntreprise{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.234);;
    border-radius: 50px;
    padding: 10px;
}

#questionEntreprise.focused{
    border: 1px solid #4483FE;
}

#questionEntreprise textarea {
    color: black;
    font-family: 'Urbanist', sans-serif;
    background: none;
    outline :none;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 200;
    width: 50vw;
    padding-inline: 15px;
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 22px;
}

#btnEntreprise{
    height: 7vh;
    display: flex;
}

#btnEntreprise button{
    background-image: url("../../media/fleche-vers-le-haut-noir.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    border: none;
    border-radius: 50px;
    height: 100%;
    width: 5vw;
    padding: 0;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.234);
    transition: 0.2s;
}

#btnEntreprise button:hover{
    background-color: #4483FE;
    background-image: url("../../media/fleche-vers-le-haut-blanc.png");
}

