<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/choixProjet.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="/media/favicon.ico">
</head>
<body>


    {% if curiostyPassValidation %}
        <a href="{% url 'projects-rovers-perseverance' %}">project rovers</a>
    {% else %}
        <a href="{% url 'projects-rovers-curiosity' %}">project rovers</a>
    {% endif %}


</body>
</html>