{% extends "base.html" %}

{% block content %}

<div id="choiceProjet">

    {% if user.is_authenticated %}
        <a class="entrepriseChoice" id="entrepriseChoice1" href="{% url 'Project' %}">
            <h1>J'ai un <span style="color: #E60CFE;">projet</span>.</h1>
            <h2>La concrétisation de votre projet idéal</h2>  
        </a>

        <a class="entrepriseChoice" id="entrepriseChoice2" href="{% url 'Vision' %}">
            <h1>Je <span style="color: #FE981E;">découvre</span>.</h1>
            <h2>Projets data et web pour votre entreprise</h2>
        </a>
    {% else %}
        <a class="entrepriseChoice" id="entrepriseChoice1" href="{% url 'connexion' %}">
            <h1>J'ai un <span style="color: #E60CFE;">projet</span>.</h1>
            <h2>La concrétisation de votre projet idéal</h2>  
        </a>

        <a class="entrepriseChoice" id="entrepriseChoice2" href="{% url 'connexion' %}">
            <h1>Je <span style="color: #FE981E;">découvre</span>.</h1>
            <h2>Projets data et web pour votre entreprise</h2>
        </a>
    {% endif %}


</div>


{% endblock %}

{% block jsScript %}
{% load static %}
<script src="{% static 'js/anim/entrepriseAnim.js' %}"></script>
{% endblock %}