{% extends "base.html" %}

{% block content %}

    <header>
        <!--Bannière-->
        <nav>
            <img src="/media/Logo/whiteLogo.png" alt="logoGleam" style="height: 5vh;">
            <ul>
                <li>ACCUEIL</li>
                <li>MISSIONS</li>
                <li>ENTREPRISE</li>
                <li>À PROPOS</li>
            </ul>
            <ul>
                <li>CONNEXION</li>
                <li>S'ENREGISTRER</li>
            </ul>
        </nav>
    </header>

    <!--Top content-->
    <div id="topStart">
        <h1>Votre projet, nos freelances sur-mesure.</h1>
        <p>Nous mettons à votre disposition une équipe de freelances sur-mesure pour votre projet,
        grâce à l'intelligence artificielle, avec une rapidité adaptée au rythme de votre entreprise.</p>

        <div id="startButton">
            <button>DÉCOUVRIR</button>
            <button>DÉMONSTARTION</button>
        </div>
    </div>
    

    <!-- Partie découverte -->
    <div>
        <div id="topDecouverte">
            <p>Une discussion qui cerne le besoin à 100%</p>
            <img src="/media/Mac/macOpenAi.png" alt="macOpenAi" style="height: 100vh;">
            <div id="propulsion">
                <p>Propulsé par OpenAI </p>
                <img src="/media/Logo/OpenAI.png" alt="OpenAI">
            </div>
        </div>
        
        
        <!-- Analyse -->
        <h2>Analyse</h2>
        <div id="analyse">
            <img src="/media/Mac/macTalent.png" alt="macTalent">
            <h3>Une équipe sur-mesure pour votre entreprise</h3>
            <p>Grâce aux données, nous sommes capables de trouver les freelances parfaitement adaptés pour la réalisation de votre projet.</p>
        </div>
        
        <!-- Optimisation -->
        <h2>Optimisation</h2>
        <div id="optimisation">
            <h3>Suivez votre projet directement sur GLEAM</h3>
            <p>Pour simplifier la gestion des tâches et optimiser l'efficacité globale du projet,
            GLEAM permet de suivre les progrès de vos différents freelances, qu'ils vous rejoignent sur site ou travaillent à distance.</p>
            <img src="/media/Mac/macProjet.png" alt="macProjet">
        </div>
    </div>

    <!-- call to action -->
    <div id="bottomDecouverte">
        <h2>N'attendez plus et demandez votre première équipe freelance !</h2>
        <button>Demandez une équipe</button>
    </div>
    

{% endblock %}